<p> Geachte {{ user.username }},</p>
<p>Je bent nu ingeschreven op de website <a href="https://www.2bij3.com">2bij3.com</a>. Om jouw account te activeren, klik je op deze <a href={{"https://2bij3.com/activate?user=number" | replace('number', user.id) }}>link</a> of plak {{"2bij3.com/activate?user=number" | replace('number', user.id) }}  in jouw browser. U wordt doorgestuurd naar de nieuws-app Houd er rekening mee dat het soms even kan duren voordat de artikelen zijn geladen.</p>

<p>Soms zie je een foutmelding, maar je kunt nog steeds inloggen. De code om uw beloning voor het eerste deel van het onderzoek te claimen, wordt weergegeven als een pop-up.</p>

<p>Ook al kun je op één dag meedoen aan dit onderzoek, toch willen we je vragen deze nieuwsapp nog zes dagen te blijven gebruiken. Als je de studie voltooit, bieden we een bonusbetaling van 12,50€. Het enige dat u hoeft te doen, is de komende 6 van de 9 dagen één artikel per dag lezen en beoordelen.</p>

<p>Als je jouw wachtwoord bent vergeten, kan je het op de website resetten door te klikken op "Wachtwoord vergeten? Hier opnieuw instellen!".</p>

<p>Met vriendelijke groeten,</p>

<p>Nicolas Mattis</p>
