{% extends "base.html" %}
{% block app_content %}
<div class="container">
  {% if device == "mobile" %}
  <button type="button" id="sidebarCollapsemobile" class="btn btn-info navbar-btn">
    <i class="glyphicon glyphicon-align-left"></i>
  </button>

  {% else %}
  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
    <i class="glyphicon glyphicon-align-left"></i>
    Menu
  </button>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-7 text-justify">
<h1>Veelgestelde Vragen/FAQs</h1>
<h4><b>Wat is 2bij3?</b></h4>
<p>2bij3 is een nieuwswebsite waar wij testen hoe mensen diverse artikelen selecteren en beoordelen. Hierdoor is het heel belangrijk dat je deze website regelmatig en actief blijft gebruiken. Als je nog vragen hebt, neem dan gerust contact met ons op via het contactformulier.</p>
<h4><b>Waar kan ik de studie afsluiten?</b></h4>
<p>Je kunt onder "Punten" jouw actuele status inzien. Als je de 100% bereikt hebt en de website op minstens 7 verschillende dagen hebt gebruikt dan kan je de studie afsluiten. Je hoeft er verder niks voor te doen. We sturen je gewoon een mededeling als je klaar bent. Denk je dat je al aan de voorwaarden voldoet, maar heb je nog geen mededeling gekregen? Stuur ons dan een bericht via het contactformulier.</p>
<h4><b>Hoe kan ik punten verzamelen?</b></h4>
<p>Er zijn twee manieren om punten te verzamelen: Voor elk artikel dat je leest ontvang je één punt en voor elke beoordeling van een artikel krijg je één punt. Per dag kan je maximaal één punt voor het selecteren en één punt voor het beoordelen halen. Dat betekent dat je niet alle punten op dezelfde dag kunt verzamelen, maar je moet op 7 verschillende dagen inloggen. Een overzicht van je punten vind je onder "Mijn 2bij3".</p>
<h4><b>Hoe ga ik terug naar de homepage?</b></h4>
<p>Wanneer je een artikel hebt gelezen en een rating hebt gegeven, ga je automatisch terug naar de homepagina. Omdat artikelen willekeurig gekozen worden kan het dat je hier nieuwe of oude artikelen ziet.</p>
  </div>
  </div>
{% endblock %}
